*, *::before, *::after {
    box-sizing: border-box;
}

body {
	background-color: #F6F8FA;
}

.container-fluid {
    padding-top: 4.5rem;
}

.float-right {
	float: right!important;
}

.float-left {
	float: left!important;
}

.card-title {
    font-size: 1.1rem;
}

.card-text {
    font-weight: bold;
}

.table thead th {
    border-top: 0;
    border-bottom: 0;
}

.header {
    padding: 15px 15px 20px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

span:not(:last-of-type) {
    margin-right: 10px;
}

.table-image td, .table-image th {
    vertical-align: middle;
}

.grid-margin {
    margin-bottom: 20px;
}

.content-wrapper {
    padding: 1.5rem 1.7rem;
    flex-grow: 1;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}