.header {
    padding: 15px 15px 20px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.content-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.25s ease;
}

.label-group {
    white-space: nowrap;
    overflow: hidden;
}

.label-group.fixed {
    flex-shrink: 0;
}

.label-group p {
    margin: 0px;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-group p.title {
    color: #323232;
    font-weight: 500;
}

.label-group p.title i {
    font-size: 50px;
}

.label-group p.caption {
    font-weight: 400;
    color: #aeaeae;
}

.min-gap {
    flex: 0 0 40px;
}
